@model ForgetPasswordViewModel


@{
	ViewData["Title"] = "ForgetPassword";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ForgetPassword">
			<input class="text" asp-for="Email" placeholder="Email" required="">
			<span asp-validation-for="Email"></span>
			<input type="submit" value="FORGET PASSWORD">
		</form>
	</div>
</div>

@section ValidationScriptSection {

	<partial name="_ValidationScriptsPartial" />
}
