@model LoginViewModel


@{
	ViewData["Title"] = "SignIn";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SignIn" method="post">
			<input class="text" asp-for="Email" placeholder="Email" required="">
			<input class="text" asp-for="Password" placeholder="Password" required="">
			<div class="wthree-text">
				<label class="anim">
					<input asp-for="RemeberMe" class="checkbox" required="">
					<span>Remeber Me</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNIN">
		</form>

			<div class="row justify-content-between">
				<div class="col-6">
				<p>Do You have an Account? <a asp-action="Register"> Register Now!</a></p>

				</div>
			</div>
			<div class="col-6 mt-3">
			<p>
				<a asp-action="ForgetPassword" asp-controller="Account">Forget Password?</a>
			</p>

			</div>
	</div>
</div>

@section ValidationScriptSection {

	<partial name="_ValidationScriptsPartial" />
}


